@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001F;
  --font-outfit: var(--font-outfit);
  --font-ovo: var(--font-ovo);
  --shadow-customBlack: 4px 4px 0px 0px #000000;
  --shadow-customWhite: 4px 4px 0px 0px #fff;
}

* {
  font-family: var(--font-outfit), sans-serif;
}